<template>
  <div class="container">
    <div class="form-container">
      <h1>Formularz</h1>
      <form @submit.prevent="submitForm">
        <div class="form-field">
          <label for="name">Imię:</label><br>
          <input id="name" v-model="form.name" type="text" required />
        </div>
        <div class="form-field">
          <label for="surname">Nazwisko:</label><br>
          <input id="surname" v-model="form.surname" type="text" required />
        </div>
        <div class="form-field">
          <label for="email">Adres e-mail:</label><br>
          <input id="email" v-model="form.email" type="email" required />
        </div>
        <div class="form-field">
          <label for="message">Treść wiadomości:</label><br>
          <textarea id="message" v-model="form.message" required></textarea>
        </div>
        <button class="btn btn-success" type="submit">Wyślij</button>
      </form>
    </div>
    <modal-contact-form-table :show="showModal" :data="returnedData" @close="closeModal"></modal-contact-form-table>
  </div>
</template>

<script>
import ModalContactFormTable from "./ModalContactFormTable.vue";

export default {
  components: {
    'modal-contact-form-table': ModalContactFormTable
  },
  data() {
    return {
      form: {
        id: '',
        name: '',
        surname: '',
        email: '',
        message: ''
      },
      showModal: false,
      returnedData: {
        id: '',
        name: '',
        surname: '',
        email: '',
        message: ''
      }
    }
  },
  methods: {
    async submitForm() {
      const isValidEmail = /\S+@\S+\.\S+/.test(this.form.email);
      if (!isValidEmail) {
        alert('Niepoprawny adres e-mail');
        return;
      }

      try {
        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.form)
        };

        const response = await fetch('/contact-form', requestOptions);

        if (response.status === 400) {
          alert('Wystąpił błąd podczas wysyłania formularza');
        } else if (response.status === 200) {
          const data = await response.json()
          this.returnedData = JSON.parse(data.contact_form);
          this.showModal = true;
        }


      } catch (error) {
        alert('Wystąpił błąd podczas wysyłania formularza.');
      }
    },
    closeModal() {
      this.showModal = false;
    }
  }
}
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.form-field {
  margin-bottom: 10px;
}
</style>
