<template>
  <div v-if="show" class="modal">
    <div class="modal-content">
      <span class="close-button" @click="$emit('close')">×</span>
      <h2>Przesłane dane:</h2>
      <table class="styled-table">
        <tr>
          <th>ID</th>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Email</th>
          <th>Wiadomość</th>
        </tr>
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.surname }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.message }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: ['show', 'data']
}
</script>

<style scoped>
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.styled-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.styled-table th {
  text-align: center;
  padding: 10px;
}

.styled-table td {
  padding: 10px;
}
</style>
